<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'assets/main/index.css' %}">

</head>
<body>
   <header>
    {% include 'includes/nav.html' %}
   </header>
   <main>
     {% block content %}

     {% endblock content %}
   </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
    <script src="{% static 'scripts/main/index.js' %}"></script>
</body>
</html>