<h1>Forgot Password</h1>

<a href="{% url 'homepage' %}">homepage</a>

<!DOCTYPE html>

{% load compress %}

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edi_Mars&apos; Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.3/css/boxicons.min.css" integrity="sha512-BoLWp8DAANVVfCxnkDc9g9hQgyjgDyDSKCS5vHgwIQ5OUljWEfPPSmUbdlg1iRl1najgpCqfX/mLb2xIdPy51A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="bg-cyan-100 min-h-10 flex items-center gap-96 p-4 justify-between">
       <nav class="flex items-center justify-between gap-96 md:flex-nowrap">
         <div class="">
            <a href="#" class="flex items-center gap-1">
                <img src="{% static 'images/log/favicon4.ico' %}" alt="Pics">
                <p class="text-white bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 px-4 py-2 font-semibold rounded-md">Edi_Mars&apos;</p>
            </a>
         </div>

         <div class="flex">
            <a href="{% url 'logout' %}" class="text-amber-500 hover:text-amber-800 transition duration-150 ease-in-out font-semibold pr-4 sm:-pr-[30%]">Logout</a>
         </div>
       </nav>
    </header>
    <div class="container mx-auto p-20 m-20 grid text-center justify-center bg-gradient-to-r from-cyan-500 via-purple-500 to-pink-500 rounded-md">
        <div class="grid items-center justify-center mb-8 bg-white p-4 rounded-md">
            <h1>Welcome to Edi_Mars&apos;</h1>
            <p>Reset your password.</p> 
        </div>


        <form action="." method="post" class="grid p-16 m-10">
            {% csrf_token %}
            
              <div class="grid w-full rounded-md mb-8 sm:flex-col">
                <input type="email" name="forgot-password" id="forgot-password" placeholder="Enter Your email to reset password">
            
              </div>

             <div class="flex items-center justify-between gap-4 text-slate-300 font-semibold mb-12">
                <p>Don't you have an account? <a href="{% url 'register' %}" class="text-red-700 hover:text-red-900 font-semibold text-xl transition duration-150 ease-in-out shadow-sm hover:shadow-md">Register</a></p>

                <p>Forgot password?  <a href="{% url 'forgot-password' %}" class="text-blue-700 hover:text-blue-900 font-semibold text-xl transition duration-150 ease-in-out shadow-sm hover:shadow-md">Sign In Instead</a></p>
             </div>

            <button type="submit" id="" class="btn min-w-10 bg-gradient-to-r from-emerald-500 via-pink-500 to-sky-500 
               text-white hover:text-slate-600 transition duration-150 ease-in-out font-semibold rounded-md shadow-sm hover:shadow-md py-3"
            >
             Submit
            </button>
        </form>
    </div>
    <footer class="p-12 bg-white">
       <div class="flex items-center justify-center bg-emerald-600 text-white text-xl font-semibold py-2 px-3 rounded">
         <p>All rights reserved @ <script>document.write(new Date().getFullYear());</script>  <a href="#">Edi_Mars&apos;</a></p>
       </div>
    </footer>
</body>
</html>